<div class="landing-image">
	<style>
		.landing-image { background-image: url("<%= @customization.main_image.present? ? @customization.main_image_url : 'https://s3.eu-west-3.amazonaws.com/shopsuper/landing.jpg' %>") }
	</style>
	<div class="container">

	    <div class="welcome-text">
	      <h1>MARKET WEB</h1>
	      <h2> UN CAMELOT PAS COMME LES AUTRES</h2>
	    </div>

	</div>
</div>

