<div class="content">
	<h2>Réenvoyer l'email de confirmation</h2>
	<hr>
	<br>


		<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
			<div class="col-12 col-md-10 offset-md-1">
				  <%= devise_error_messages! %>

				  <div class="field">
				    <%= f.input :email, autofocus: true, autocomplete: "email", label: false, placeholder: "Votre email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
				  </div>

				  <div class="actions">
				    <%= f.submit "Réenvoyer l'email de confirmation", class: "btn btn-main btn-block" %>
				  </div>
			</div>
		<% end %>


		<%#= render "devise/shared/links" %>

</div>