<div class="container">
		<h2>MES RETOURS</h2>
		<hr>
		<br>
	<div class="row">

		<div class="col-12" id="client_returnings">
			<%= render partial: "client_returnings" %>
		</div>
		<%= will_paginate @client_returnings %>
	</div>
</div>






