<% unless current_page?(root_path) || current_page?(admin_landing_path) %>

    <%= link_to 'javascript:history.go(-1);', class: "btn btn-secondary", id: "back-button"  do %>
        <i class="fas fa-arrow-left"></i>
    <% end %>

    <button class=  "btn btn-secondary",  id= "top-button" >
        <i class="fas fa-arrow-up"></i>
    </button>
<% end %>
