<div class="container fluid">
	<br>
	<div class="row">
		<% if @products.count > 0 %>
			<% @products.each do |product| %>
					<%= render  'clients/shared/cards', product: product %>
			<% end %>
		<% else %>
			<% Product.all.each do |product| %>
				<%= render  'clients/shared/cards', product: product %>
			<% end %>
		<% end %>
	</div>
</div>