<nav class="navbar navbar-expand-lg navbar-dark nav-upper-admin">
  <button type="button" id="sidebarCollapse" class="btn btn-main">
      <i class="fas fa-align-left"></i>
  </button>
  <a class="skip-main btn btn-main" href="<%= admin_products_path %>">Aller directement aux articles</a> 
</nav>
