<!DOCTYPE html>
<html>
<head>
<title>PDF</title>
	<meta charset="utf-8" />
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
</head>
<body>
  <div class='container'>
  	<h1>MES ETIQUETTES</h1>
    <%= yield %>
  </div>
</body>
</html>