<nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-container">
        <div class="sidebar-brand">
          <div id="close-sidebar">
           <i class="fas fa-angle-left"></i>
          </div>
          <div id="show-sidebar">
           <i class="fas fa-angle-right"></i>
          </div>
        </div>
        <div class="sidebar-menu">
          <ul>
            <li class="sidebar-dropdown">
              <a href="#" id="article">
               <i class="fas fa-tshirt"></i>
                <span class="menu-title">Articles</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a class="drop-item" href="/admin/list">All articles</a>
                  </li>
                  <li>
                    <a class="drop-item" href="/admin/products/new">Add article</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="sidebar-dropdown">
              <a href="#" id="suppliers">
                <i class="fas fa-address-book"></i>
                <span class="menu-title">Suppliers</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a class="drop-item" href="/admin/suppliers/new">Ajouter Supplier</a>
                  </li>
                  <li>
                    <a class="drop-item" href="/admin/suppliers">All Suppliers</a>
                  </li>
                </ul>
              </div>
            </li>
          </li>
          </ul>
        </div>
        <!-- sidebar-menu  -->
      </div>
    </nav>