<ul  class="list-unstyled">
	<li><%= link_to "Mon compte", clients_user_path(current_user) %></li>
	<li><%= link_to "Mes adresses", clients_user_path(current_user) %></li>
	<li><%= link_to "Mes commandes", clients_orders_path  %></li>
	<li><%= link_to "Mes favoris", clients_favorites_path  %></li>
	<li>Aide et contact</li>
	<li>Notre page Facebook</li>
</ul>