<div class="container">
	<h1>Compte de FR-<%= @user.id %></h1>
	<hr>

	<div class="row">
		<div class="col-4">
			<%= render "addresses" %>	
		</div>
		<div class="col-4">
			<%= render "orders" %>
		</div>
		<div class="col-4">
			<%= render "messages" %>
		</div>
	</div>



</div>