<div class="landing-image">
	<style>
		.landing-image { background-image: url("<%= 'https://s3-eu-west-1.amazonaws.com/mygasoline/landing.jpg' %>") }
	</style>
	<div class="content">

	    <div class="welcome-text">
	      <h1>MARKET WEB</h1>
	      <h2> UN CAMELOT PAS COMME LES AUTRES</h2>
	    </div>

	</div>
</div>

