<div class="container">
	<h1>Mentions légales</h1>
	<hr>
	<br>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id tenetur debitis quos alias similique minima fugit necessitatibus amet, repellat numquam beatae odit quo vitae nisi ex quasi placeat, quod veniam.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident pariatur at necessitatibus nisi quibusdam, deserunt incidunt minus esse suscipit ad. Dolorum repudiandae iure cum odio, fugiat dolore perferendis iusto sit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, cum sapiente porro nobis nemo? Sit delectus nisi sapiente eius dignissimos quam rerum molestias molestiae, ex illum aliquid doloribus. Odit, ullam!</p>
</div>