<div class="container">
	<h1>Paiement sécurisé</h1>
	<hr>
	<br>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id tenetur debitis quos alias similique minima fugit necessitatibus amet, repellat numquam beatae odit quo vitae nisi ex quasi placeat, quod veniam.</p>
</div>