<h1>Bonjour <%= @order.user.full_name %></h1>


<p>Nous sommes désolés mais nous n'avons pas pu satisfaire votre demande</p>
<p>L'article que vous avez commandé n'est plus en stock, nous nous excusons mille fois...</p>
<p>Nous allons vous rembourser immédiatement blabalbalbabal et la faut trouve les mots....</p>

<p>L'équipe de Damien.....</p> 