<h1>Bonjour <%= @order.user.full_name %></h1>


<p>Nous sommes désolés mais nous n'avons pas pu satisfaire votre commande en totalité</p>
<p>Un/ou plusieurs articles que vous avez choisis ne sont plus en stock, nous vous prions de bien vouloir nous excuser</p>

<p>Nous allons procéder au remboursement dans les plus brefs délais.</p>

<p>L'équipe de Damien.....</p> 