<div id="cookies-banner" class="cookies-banner">
  <div class="container for_cookies_policy">
    <p>Nous utilisons des cookies blablabla</p>
    <span id="btn-cookie" class=" btn btn-secondary">OK</span>
  </div>
</div>
