<div class="content fluid">
	<div class="row">
		<% @categories.each do |cat| %>
			<% cat.products.each do |product| %>
				<%= render "admin/shared/cards", product: product %>
			<% end %>
		<% end %>
	</div>
</div>