<div class="nested-fields">
	<div class="row">
		<div class="col-6">
		  <%= f.input :size, label: "Taille" , placeholder: "Ex: S", autofocus: true, required: true %>
		</div>
		<div class="col-6">
			<%= f.input :color, label: "Couleur", placeholder: "S'il existe différents coloris" %>
		</div>
		<div class="col-12 col-md-4">
			<%= link_to_remove_association "Supprimer cette variante", f, class: "btn btn-danger delete_size" %>
		</div>
	</div>
</div>

