@import "font-awesome";
@import "bootstrap";
@import "categories";
@import "orders";
@import "general";
@import "favorites";
@import "products";
@import "pagination";
@import "boxes";

.error_message {
	h2 {
		color: red;
	}
	padding: 15px;
	margin: 10px;	
	border: 2px dotted red;
}

.container {
	margin-top: 30px;
}
nav {
	margin-bottom: 30px;
}

a:hover {
	text-decoration: none;
	color: #000;
}

.nav-upper {
	background-color: transparent!important;
}

.nav-heart {
	font-size: 25px;
	position: absolute;
	color: #666;
	}


.nav-lower {

	margin-top: -30px;
	padding-bottom: 20px;
}

#likes_counter {
	font-size: 10px;
  background: #79B0FEFF;
  width: auto;
  height: auto;
  margin: 0;
  border-radius: 50%;
  position: absolute;
 	left: 20px;
 	top: -5px;
  padding: 0 4px;
  color: #fff;
}


.fa-shopping-bag {
	font-size: 25px;
	position: relative;
	color: #666;
}

#items_count {
	font-size: 10px;
  background: red;
  width: auto;
  height: auto;
  border-radius: 50%;
  position: absolute;
  top: -5px;
 	left: 18px;
  padding: 0 4px;
  color: #fff;
}

.icon-wrapper {
	position:relative;
}


.input-search {
	// background-color: #BCC0C0FF;
	border: 0px;
	border-radius: 0px;
	border-bottom: 3px solid #000;
}

.search-btn-nav {
	color: #000;
	margin-left: -50px;
	border: 0px;
	background-color: transparent;
	.fa-search {
		font-size: 30px;	
	}
}
