.boxes{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-align: center;
	flex-direction: row;
}

.box{
	min-width: 150px;
	min-height: 200px;
	text-align: center;
	margin-bottom: 20px;
	img {
		max-width: 100%;
		max-height: 100%;
	}
}

.card_old_price {
	text-decoration: line-through;
}

.discount_percentage {
	padding: 2px;
	font-size: 18px;
	position: absolute;
	right: 25px;
	top:  10px;
	background-color: #FDE74FFF;
}

.card_discount_price {
	color: green;
	
}


.box:hover{
	img {
		filter: brightness(1.2);
	}
}


.footer_box {
	font-size: 1em;
	background-color: #EEE;
	padding-top: 6px;
	//margin-bottom: 20px;
	height: 55px;
	color: #000;
}

.no_stock {
	img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);

	}
}
	.no_stock_sticker{
		position: absolute;
		padding: 10px;
		bottom: 50px;
		left: 70%;
		font-size: 13px;
		.btn-secondary {
			background-color: green;
			color: #fff;
			border: #fff;
		}
	}
