.boxes{
	display: flex;
	//justify-content: space-around;
	flex-wrap: wrap;
	flex-align: center;
	flex-direction: row;
}
.box{
	min-width: 180px;
	min-height: 250px;
	padding: 2px;
	text-align: center;
	margin-bottom: 20px;
	img {
		max-width: 100%;
		max-height: 100%;
	}
}

.box:hover{
	filter: brightness(1.2);
	transition: all 0.5s;
}

.footer_box {
	font-size: 1em;
	background-color: #EEE;
	padding-top: 10px;
	height: 60px;
	color: #000;
}