//Force cookies_eu style 
.cookies-eu {
	padding: 20px;
	font-size: 20px !important;
	color: #ddd;
	background-color: #D3002AFF !important;
	height: 200px !important;

	.cookies-eu-ok {
		font-size: 20px !important;
		background: #111 !important;
		color: #ddd !important;
		padding: 15px !important;
		border-radius: 50px !important;

	}
}