body {
	font-family: 'Montserrat', sans-serif;
}

.primary_title {
	font-size: 25px;
}

.secondary_title {
	font-size: 20px;
}
.error_message {
	padding: 15px 30px;
	margin-bottom: 20px;
	border-radius: 50px;
	color: #fff;
	background-color: #FB2945FF;
	h2 {
		color: #fff;
	}
}
.container {
	margin-top: 30px;
}