@charset "utf-8";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";


.container {
	max-width: 980px;
}


.reference_invoice {
	padding: 10px;
	border: 1px solid #111;
	margin-bottom: 20px;
}

