.tabs {
	background-color: #aaa;
	padding: 5px;
	border-radius: 5px;
	width: 120px;
	text-align: center;
	
	a {
		color: #fff;
	}

	a:hover {
		text-decoration: none;
	}
}

.tabs:hover {
	background-color: red;
}


.tabs__item--active {
	background-color: red;
}
	
.order_card {
	height: 250px;
	background-color: #fff;
	margin-bottom: 35px;
	img {
		margin-left: 10px;
		height: 200px;
		border-radius: 10px;
	}
}

.header_order_card {
	padding: 10px;
	background-color: #ccc;
	height: 50px;
}

.body_order_card {
	padding: 10px;
	background-color: white;
	border: 1px solid #aaa;

}

.pending_status {
 background-color: gray;
}

.paid_status {
 background-color: orange;
 color: black;
}


.confirmed_status {
	background-color: yellow;
}

.shipped_status {
 background-color: green;
 color: #fff;
}

.refund_status {
	background-color: blue;
}
.cancelled_status {
 background-color: red;
}

.pending_status_tab {
	color: gray;
}

.paid_status_tab {
	color: orange;
	font-weight: bold;
}

.confirmed_status_tab {
	color: purple;
	font-weight: bold;
}

.shipped_status_tab {
	color: green;
	font-weight: bold;
}

.refund_status_tab {
	color: blue;
	font-weight: bold;
}
.cancelled_status_tab {
	color: red;
	font-weight: bold;
}