//LANDING 
// .landing-image {
// 	margin-top: -30px;
//   background-repeat            : no-repeat center center fixed;
//   -o-background-size           : cover;
//   -moz-background-size         : cover;
//   -webkit-background-size      : cover;
//   -webkit-filter               : grayscale(40%);
//   background-size              : cover;
//   background-position          : center;
//   height                       : 100vh;
// }

.landing-content {
  padding: 0px 90px;
}

.first-caption, .second-caption, .third-caption {
  font-family: Montserrat;
  font-size:  3.5em !important;
  font-weight: bold;
}

.logo {
  position: absolute;
  z-index: 99999;
  margin-top: 10px;
  margin-left: 600px;
}

.logo-cintre {
  width: 200px;
}

#site_title {
  font-weight: bold;
}

.img-fluid {
  width: 1900px;
}


.welcome-text {
	color: #fff;
	text-align: center;
	padding-top: 30%;
 	h1 {
		font-size: 100px;
	}
	h2 {
		font-size: 35px;
	}
}

.carousel-caption  {
  bottom: 25px !important;
  background-color: rgba(0,0,0 ,0.2);
  .btn {
    margin-top: 40px;
    padding: 20px 30px;
    border: 2px solid #fff !important;
    border-radius: 0px;
    background-color: transparent !important;
    color: #fff;
  }
}

@media screen and (max-width : 920px){


.first-caption, .second-caption, .third-caption {
  margin-top: 40px;
  font-family: Montserrat;
  font-size:  20px !important;
  font-weight: bold;
}

.carousel-caption  {
  //bottom: 25px !important;
  background-color: rgba(0,0,0 ,0.2);
  .btn {
    margin-top: 10px;
    padding: 20px 30px;
    border: 2px solid #fff !important;
    border-radius: 0px;
    background-color: transparent !important;
    color: #fff;
  }
}

  .landing-content {
    padding: 0px;
  }

  // #site_title {
  //   display: none;
  // }


  .logo-cintre {
    width: 60px;
  }
}