.landing-content {
  padding: 0px 45px;
}

.first-caption, .second-caption, .third-caption {
  font-family: Montserrat;
  font-size:  3.5em !important;
  font-weight: bold;
  color: #fffff;
}

.carousel-inner {
  position: relative;
  .logo {
    position: absolute;
    z-index: 99999;
    margin-top: 20px;
    margin-left: 40%;
    width: 15%;
    .logo-cintre {
      width: 100%;
    }
  }
}

#site_title {
  font-weight: bold;
}

.img-fluid {
  width: 1900px;
}

.logo_banner {
  display: none;
}

.title_banner {
  display: none;
}

.carousel-caption  {
  bottom: 25px !important;
  background-color: rgba(0,0,0 ,0.1);
  .btn {
    margin-top: 40px;
    padding: 20px 30px;
    border: 2px solid #fff !important;
    border-radius: 0px;
    background-color: transparent !important;
    color: #fff;
  }
}

@media screen and (max-width : 920px){

.title_banner {
  display: none;
}

.logo_banner {
  display: block;
  width: 50%;
  height: auto;
  margin-left: 30%;
}

.first-caption, .second-caption, .third-caption {
  font-family: Montserrat;
  font-size:  20px !important;
  font-weight: bold;
}

.carousel-caption  {
  margin-top: 25px !important;
  background-color: rgba(0,0,0 ,0.1);
  .btn {
    margin-top: 10px;
    padding: 5px 10px;
    border: 2px solid #fff !important;
    border-radius: 0px;
    background-color: transparent !important;
    color: #fff;
  }
}

  .landing-content {
    padding: 0px;
  }


  .logo {
    display: none;
  }

}