.pagination {
    font-size: 20px;
    margin-bottom: 40px;
}

.pagination > * {
    margin-right: 0.1em;
    padding: 0.3em 0.4em;
}

.pagination a:hover {
    color: #202020;
}

.pagination a:active {
    text-shadow: none;
}


.pagination {
    a {
        color: #202020;

    }
}

.pagination .current {
    background: #202020 none repeat scroll 0 0;
    color: white;
}

.pagination .disabled {
    color: #C0C0C0;
}