.file-upload-input {
	position: absolute;
	margin-top: 0;
	margin-left: -50%;
	width: 100%;
	min-height:300px;
	outline: none;
	opacity: 0;
	cursor: pointer;
}

.image-upload-wrap {
	text-align: center;
	position: relative;
	padding: 50px;
	width: 100%;
	height: 130px;
	border: 4px dashed #0070FF;
	background-color: #fff;
	color: #0070FF;
	h3 {
		font-size: 20px;
	}
}

.category_title {
	a {
		text-decoration: none;
		color: #aaa;
	}

	a:hover {
		color: #ccc;
	}
}

.small_image {
	height: 100px;
	padding: 5px;
}

#big_image_show {
	max-height: 400px;
}


.product_suggestion {
	height: 300px;
	padding: 5px;
}

#recommendation{
	margin-top: 50px;
}

#description {
	margin-top: 50px;
	padding: 20px;
	background-color: #888;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
}

.description_background {
	background-color: #ddd;
	padding: 20px;
}

.description_img {
	height: 500px;
}

.description_text {
	margin-top: 50px;
	background-color: #fff;
	padding: 30px;
	span {
		font-weight: bold;
	}
}

.card {
	margin: 3px;
}

.footer_card {
	text-align: center;
	background-color: white;
	height: 50px;
	font-size: 12px;
	text-align:left;
	padding-left: 10px;
	line-height: 10px;
	color: #000;
}

.images_gallery {
	margin-bottom: 20px;
}

select {
	background-color: red;
	height: 39px;
	color: white;
	padding: 5px;
}

#description_img {
	padding: 10px; 
	text-align: center;
}

.icon_tab {
	font-size: 30px;
	color: green;
}



 // effet Zoom sur products


.big_images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .big_image {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
  }
