.file-upload-input {
	position: absolute;
	margin-top: 0;
	margin-left: -50%;
	width: 100%;
	height: 130px;
	outline: none;
	opacity: 0;
	cursor: pointer;
}

.image-upload-wrap {
	text-align: center;
	position: relative;
	width: 100%;
	height: 130px;
	border: 4px dashed #0070FF;
	background-color: #fff;
	color: #0070FF;
	h3 {
		padding-top: 50px;
		font-size: 20px;
	}
}

.category_title {
	a {
		text-decoration: none;
		color: #aaa;
	}

	a:hover {
		color: #ccc;
	}
}

.small_image {
	height: 100px;
	padding-bottom: 5px;
	padding-right: 10px;
}

.current_color {
	height: 100px;
	padding: 5px;
	border-bottom: 3px solid #000;
}

#recommendation{
	margin-top: 50px;
}

#description {
	margin-top: 50px;
	padding: 20px;
	background-color: #888;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
}

.description_img {
	height: 500px;
}

.description_text {
	margin-top: 50px;
	background-color: #ddd;
	padding: 30px;
	span {
		font-weight: bold;
	}
}

.images_gallery {
	margin-bottom: 20px;
}


#description_img {
	padding: 10px; 
	text-align: center;
}

.icon_tab {
	font-size: 30px;

}

 // effet Zoom sur products

.big_images {
    position: absolute;
    margin-left: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.big_image {
  position: relative;
  margin-left: 10px;
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform .5s ease-out;
}


.destock_card {
	padding: 10px;
	background: #ccc;
	margin-top: 20px;
	.size_name {
		color: #FB002DFF;
		font-weight: bold;
	}
}

.header_destock_card {
	text-align: center;
	font-size: 30px;
}

@media (max-width: 667px) {
	
	.links_desktop {
		display:  none;
	}

}
