.header_return {
	margin-bottom: 20px;
	padding: 20px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #111;
	color: #ddd;
}

.block_return_clients {
	margin-bottom: 20px;
	padding: 20px;
	border: 1px solid #ccc;
	background-color: #F4F4F4;
	color: #111	;
}


input[type=checkbox] {
    cursor: pointer;
    transform: scale(1.5);
}
