<div class="container">
	<div class="row">
		<div class="col-12 col-md-2">
			<%= render "clients/shared/menu_user" %>
		</div>
		<div class="col-12 col-md-8">
			<h3>Bonjour <%= current_user.first_name %></h3>
		</div>
	</div>
</div>