<section style="margin-bottom: 50px;" class= "clients" >

	<h2>Utilisateurs -[<%= @dashboard.clients_counts %>]</h2>
	<hr>
	<div class="row">
		<div class="col-12 col-md-6">
			<h5>Nouveaux utilisateurs / semaine</h5>
			<hr>
			<%= column_chart @dashboard.clients_registration_by_week ,{colors: ["red"]}%>	
		</div>
		<div class="col-12 col-md-6">
			<h5>Nouveaux utilisateurs / mois</h5>
			<hr>
			<%= column_chart @dashboard.clients_registration_by_month, {colors: ["black"]} %>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-12 col-md-6">
			<h5>Genre des utilisateurs</h5>
			<hr>
			<%= pie_chart  @dashboard.clients_gender, {colors: ["blue", "orange"]}  %>
		</div>
	</div>
</section>


