<div class="container">
	<h2>Articles mis en ventes</h2>
	<hr>
	<br>
	<div class="graph_boxe">
		<div class="row">
			<div class="col-12 col-md-6">
				<br>
				<%= pie_chart @dashboard.products_per_category, colors: [ "orange" "black", "yellow", "blue", "red"], 
																												title: "Articles / catégories", 
																												library: {
																													plotOptions: {
																													  pie: {
																													  	cursor: 'pointer',
																													    dataLabels: {
																													      enabled: false
																													     },
																													     showInLegend: true
																													  	}
																														},
																													} %>
			</div>
			<div class="col-12 col-md-6">
				<br>
				<%= pie_chart @dashboard.variants_per_products ,  colors: [ "red", "green", "yellow", "blue", "orange"], 
																												title: "Articles / tailles", 
																												library: {
																												  plotOptions: {
																												    pie: {
																												    	cursor: 'pointer',
																												      dataLabels: {
																												        enabled: false
																												       },
																												       showInLegend: true
																												    }
																												  }}%>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-12 col-md-6">
				<br>
				<%= column_chart [name: "Quantité", data: @dashboard.products_added_by_week], colors: ["red"], title: "Articles ajoutés par semaine" %>
			</div>
			<div class="col-12 col-md-6">
				<br>
				<%= column_chart [name: "Quantité", data: @dashboard.products_added_by_month], colors: ["black"], title: "Articles ajoutés par mois" %>	
			</div>
		</div>
	</div>
</div>