<div class="container">
	<h2>Retours de marchandise - [<%= @dashboard.returnings_counts %>]</h2>
	<hr>
		<div class="graph_boxe">
			<div class="row">
				<div class="col-12 col-md-6">
					<div class="stats">
						<%= column_chart [name: "Montant " , data: @dashboard.returnings_by_week ] , colors: ["red"], title: "" %>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="stats">
						<%= column_chart [name: "Montant " , data: @dashboard.returnings_by_month ] , colors: ["red"], title: "" %>
					</div>
				</div>
			</div>
		</div>
</div>