<div class="contaienr">
	<h2>Ventes aux marchés - [<%= @dashboard.sales_counts %>]</h2>
	<hr>
		<div class="graph_boxe">
			<div class="row">
				<div class="col-12 col-md-6">
					<div class="stats">
						<%= column_chart [name: "Nombre de ventes", data: @dashboard.sales_by_month], title: "Ventes par mois", colors: ["black"] %>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="stats">
						<%= column_chart [name: "Nombre de ventes", data: @dashboard.sales_by_week], title: "Ventes par semaine", colors: ["red"] %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="stats">
						<%= line_chart [name: "Montant", data: @dashboard.sales_turnover_per_month], title: "Chiffre d'affaire en €", colors: ['green'] %>
					</div>
				</div>
			</div>
		</div>
</div>