<nav class="nav navbar-dark flex-column">

	<ul>
		<li class="nav-item dropdown"> Articles
			<ul>
				<li class="nav-item">
					<%= link_to "Voir l'article", admin_product_path(@product), target: '_blank'  %>
				</li>
				<li class="nav-item">
					<%= link_to "Ajouter le stock", stock_admin_product_path(@product)%>
				</li>
				<li class="nav-item"> 
					<%= link_to "Tous les articles", admin_list_path  %>
				</li>
			</ul>
		</li>

		<li class="nav-item"> Commandes</li>

		<li class="nav-item"> Utilisateurs</li>

	<li class="nav-item"> Statistiques</li>
	</ul>
</nav>