<div class="container fluid">
	<div class="row">
		<ul class="list list-unstyled">
			<% @categories.each do |cat| %>
			
					<li>
						<h1><%= link_to cat.title, clients_category_path(cat)  %></h1>
					</li>
				
			<% end %>
		</ul>
	</div>
</div>