<div class="container">
	<div class="row">
		<div class="col-10 offset-1">
			<h1 class="title">Les <%= @category.title %></h1>
			<br>
			<div class="row">
				<% @category.products.each do |product| %>
					<%= link_to clients_category_product_path(@category, product) do  %>
						<%= render "clients/shared/cards", product: product %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>

