<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" container="NOODP" />
  <meta name="viewport" container="initial-scale=1" />
  <style>
    <%= Rails.application.assets.find_asset('invoice_pdf').to_s %>
  </style>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>